<div>
    <ng-container *ngFor="let plan of plans; let i = index">
        <div class="col">
          <!-- <product-card [product]="product" [width]="20" [shopping-cart]="cart"></product-card> -->
          <a>{{plan.title}}</a>
          
          <ul>
            <li *ngFor="let size of plan.mealSize">{{ size.mealSize}}ml - ${{size.pricePerMeal}}</li>
          </ul>

          <ul>
            <li *ngFor="let n of getMealNumberOptions() ">{{n}}</li>
          </ul>

        </div>
        <div class="w-100" *ngIf="(i+1)%2 === 0"></div>
      </ng-container>
</div>  